#header {
  animation: enhance-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
} 

@keyframes enhance-header {
  to {
    border-bottom: 1px solid rgba(35, 39, 47, 0.26);
  }
}

@keyframes enhance-header-dark {
  to {
    border-bottom: 1px solid rgba(138, 154, 187, 0.26);
  }
}


/*cambiar el color cuando esta en modo oscuro */
@media (prefers-color-scheme: dark) {
  #header {
    animation: enhance-header-dark linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }
}